@inject AuthenticationStateProvider AuthenticationStateProvider

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">課程報名系統</a>
        <span class="navbar-text d-block d-sm-none">@user.Identity.Name</span>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> 主頁
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="event">
                <span class="oi oi-plus" aria-hidden="true"></span> 課程
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="report">
                <span class="oi oi-spreadsheet" aria-hidden="true"></span> 報表
            </NavLink>
        </div>
         <div class="nav-item px-3 d-block d-sm-none">
             @if (user.Identity.Name != null){
                <NavLink class="nav-link" href="logout">
                    Logout
                </NavLink>
             }else{
                 <NavLink class="nav-link" href="login">
                    Login
                </NavLink>
             }
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;
    private ClaimsPrincipal? user;
    protected override async void OnInitialized()
    {
        base.OnInitialized();
        // Set the user to determine if they are logged in
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        user = authState.User;
    }

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
